/* Google fonts link */

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Merriweather+Sans:wght@300&display=swap');


/* asterisk selector to override default styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    color: #3f1e0e;
    font-family: Merriweather Sans, sans-serif;
}

/* header */

header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #3f1e0e;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #3f1e0e;

}


h1 {
    font-family: Catamaran, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #3f1e0e;
}

#logo {
    color: #3f1e0e;
    font-size: 180%;
    text-decoration: none;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
    color: #3f1e0e;
}

#menu>li {
    margin-bottom: 1rem;

}

.active {
    border-bottom: 1px solid #3f1e0e;
}

/* dropdown toggle for navigation menu */

nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 1px 1px #3f1e0e;
    display: none;
    top: 100%;
}

/* navigation toggle */

#nav-toggle:checked~nav {
    display: block;

}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #3f1e0e;
}


/* main */

main {
    
   
    flex: 1 0 auto;
    margin-top: 95px;
    margin-bottom: 25px;

}

/* Hero section */

#hero {
    height: 300px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center/cover;

    /* zoom effect on loading page */
        animation-name: main-zoom;
        animation-duration: 5s;
        animation-fill-mode: forwards;
}

/* level of zoom for main image */

@keyframes main-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Cover text for hero image */

#cover-text {
    font-size: 75%;
    font-family: Catamaran, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;

    width: 200px;
    height: 100px;

    padding-top: 20px;
    padding-left: 10px;
    margin-right: 20px;

    background-color: rgb(241, 228, 228);
    opacity: 0.8;

    bottom: 20px;
    right: 20px;
   

    position: absolute;
}

/* Welcome section */

#welcome {
    height: 20%;
    margin-top: 50px;
    
}

#welcome h2 {

    text-align: center;
    color: #3f1e0e;
}

#welcome-text {

    text-align: center;
    margin: 20px 10px 30px 10px;
    line-height: 25px;

}

#welcome-icon {

    text-align: center;
        font-size: large;
        margin-top: 50px;
        letter-spacing: 10px;
        
}

/* Cat benefits section */

#cat-benefits {
    height: 60%;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    


}

#cat-benefits h2 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 180%;
    
}

.cats-benefits-flex>div {
    width: 100%;
    
}

#benefits-left > div, #benefits-right > div {

    line-height: 25px;
    margin-bottom: 20px;
}

#benefits hr {
    border-top: 2px solid rgb(2, 1, 1);
    width: auto;
    margin: 4px 0;
}
#benefits-left img, #benefits-right img {
    border-radius: 5%;
    margin: 20px 20px 20px 0px;

    width: 100%;
    justify-content: center;
    
}

/* House rules section */

#house-rules h2 {
    color: #3f1e0e;
    text-align: center;
    font-size: 180%;
    margin-bottom: 20px;

}

#house-rules-text li {
    list-style-type: none;
}

#house-rules-text {
    width: 80%;
    font-size: 100%;
    padding-left: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;



}

/* Gallery page */

#gallery {
    margin-top: 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3px;
}
/* Makes columns stack on top of each other */

.column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
    margin-left: 5px;
}
    


.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* footer */

footer {

    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin-top: auto;
    background-color: #3f1e0e;
    color: rgb(231, 227, 227);

}

footer div {
    margin: 20px 10px 15px;
    font-size: small;
    text-align: justify;
    height: auto;

}

.openings {
    border-spacing: 15px 0px;
    margin-top: 10px;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    list-style: none;
}

    /*Media query for range between small and bigger mobiles (from 300px to 768px)*/

        @media screen and (min-width: 360px) and (max-width: 768px) {
            main {
                margin-top: auto;
            }
        }

    /* Media query for tablets and larger screens (768px and up) */

    @media screen and (min-width: 768px) {
      

        /* Header */
        nav {
            display: block;
            position: relative;
            box-shadow: none;
            width: fit-content;
            padding-right: 1rem;
        }

        #menu {
            display: flex;
            font-size: 100%;
        }

        #menu>li {

            padding-left: 1rem;
        }

        .nav-toggle-label {
            display: none;
        }

        #logo {
            font-size: 200%;
            line-height: 75px;
            margin: 0 0.5rem;

        }

        /* Footer */

        footer {
            display: flex;
            justify-content: space-evenly;
            height: auto;
            width: 100%;
            margin-top: auto;
        }

        footer h3 {
            display: flex;
            justify-content: center;
            
            
        }

        footer div {

            font-size: medium;
            text-align: center;
            height: auto;
        }


        /* Main content */

        /* Push down main content for larger header */

        main {
            margin-top: 75px;
        }
    }

    /* Media query for large screens (968px and up) */

    @media screen and (min-width: 968px) {

        /* Menu links */

        #menu a:hover {
            border-bottom: 1px solid ##3f1e0e;
        } 
        /* Cover text in hero image */

         #cover-text {
             margin-right: 70px;
        }

        /* Welcome section */
        #welcome-text {

            text-align: center;
            margin: 30px 40px 30px 40px;
            font-size: large;


        /* Footer */

        footer {
            display: flex;
            justify-content: space-evenly;
            font-size: large;
            
        }

        

                



    }

        