/* Google fonts link */

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Merriweather+Sans:wght@300&display=swap');


/* asterisk selector to override default styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    color: #3a3a3a;
    font-family: Merriweather Sans, sans-serif;
}
/* header */

header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #3a3a3a;
}   

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: Catamaran, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: coral;
}

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1rem;

}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* main */

main {
    background-color: rgb(43, 226, 76);

    flex: 1 0 auto;
}

/* footer */

footer {
    background-color: rgb(226, 43, 43);
}